/*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    transition: 0.3s;
    color: white;
}
.a-menu {
}

a:hover {
    opacity: 0.7;
}

body {}

hr{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    background: #20504a;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
}

.logo {
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.a-menu{
    font-size: 16px;
}

.a-login {
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 0px;
}

.a-login:hover {
        opacity: 0.7;
    }

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/*Main*/
.atras_do_header_kskskssk{
    height: 100px;
}

main {
}

#titulo{
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 100px;
}
#img-d{
    background-color: #888888;
    width: 100%;
    height: 60vh;
    background: url('../img/testepc.jpg');
    background-size: cover;
    background-position-y:40%;
}

#titulo2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 75px;
}
#img-d2{
    background-color: #888888;
    width: 100%;
    height: 60vh;
    background: url('../img/teste.jpg');
    background-size: cover;
}

.cont-sep{
    margin: 0;
    padding: 0;
    height: 90vh;
}

form {
    margin-top: 5%;
    display: inline-block;
    width: 17%;
    margin-left: 10%;
    margin-right: 9.5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto;
    padding: 20px;
  }
  
  label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
  }
  
  button[type="submit"] {
    background-color: #20504a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
   
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
    
  }

#quadrado
{
    float: right;
    width: 50%;
    min-height: 600px;
    height: auto;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
    border: 1px solid #ccc;
}
iframe {
    width: 30%;
    border-top-right-radius: 10px;
    height: 500px;
}

.info{
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.h3{
    font-size: 100%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
    background: #20504a;
    color: #fff;
    display: inline-block;
    
}

.descrição{
    font-size: 100%;
    background: #20504a;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    display: inline-block;
}

.desc{
    margin: 15px;
}

.img1 
{
    width: 70%;
    float: left;
    border-top-left-radius: 10px;
    height: 500px;
    background: url('../img/hotel1.jpg');
    background-size: cover;
}
.img2 
{
    width: 70%;
    float: left;
    border-top-left-radius: 10px;
    height: 500px;
    background: url('../img/Conrad-hotel-tulum.jpg');
    background-size: cover;
}
.img3
{
    width: 70%;
    float: left;
    border-top-left-radius: 10px;
    height: 500px;
    background: url('../img/Corazon-Cabo-Resort-Spa.jpg');
    background-size: cover;
}
#tex1 
{
    float: left;
    color: black;
    margin-top: 70%;
    margin-left: -70%;
}
#dis {
    float: left;
    color: black;
    margin-left: 0;
}
.enviar {
    background-color: #20504a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    float: left;
}

.a-login {
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 0px;
}

/*Footer*/

footer {
    margin-top: 5%;
    background: #20504a;
    width: 100%;
    padding-top: 2.5%;
    float: left;
}

#infor div{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
#infor h1, p{
    color: #fff;
}
.ul-footer{
    list-style: none;
    display: flex;
    align-items: center;
}

.ul-footer li{
    width: 20%;
}
.p1-f {
    margin-right: 20%;
}
.p2-f{
    margin-right: 20%;
}

.ul-footer li {
    letter-spacing: 3px;
}

#direitos {
    float: left;
    clear: both;
    width: 100%;
}
#direitos p {
    width: 100%;
    text-align: center;
    font-weight: 800;
    color: white;
}
#direitos2{
    width: 100%;
}

#direitos2 ul{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
}

#direitos2 ul li {
    display: inline-block;
    width: 5%;
}

#direitos2 img {
    width: 100%;
    border-radius: 100%;
}

/*KeyFrame*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Media*/

@media (max-width: 1019px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #20504a;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}
  @media screen and (max-width: 400px) {
    form {
        margin-top: 20%;
        float: left;
        width: 100%;
        margin-left: 1%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 600px;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        float: left;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
        float: left;
      }
      
      button[type="submit"] {
        background-color: #20504a;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        float: left;
      }
      
      button[type="submit"]:hover {
        background-color: #45a049;
        float: left;
      }
    #quadrado
    {
        width: 100%;
        height: 640px;
        margin-right: -2%;
        float: left;
        margin-top: 50%;
        border-radius: 10px;
        border: 1px solid #ccc;
    }
    iframe {
        width: 50%;
        border-top-right-radius: 10px;
        float: left;
        height: 500px;
    }
    .info{
        margin-left: 10%;
    }
    
    .img1 
    {
        width: 50%;
        float: left;
        border-top-left-radius: 10px;
        height: 500px;
        background: url('../img/hotel1.jpg');
        background-size: cover;
    }
    .img2 
    {
        width: 50%;
        float: left;
        border-top-left-radius: 10px;
        height: 500px;
        background: url('../img/Conrad-hotel-tulum.jpg');
        background-size: cover;
    }
    .img3
    {
        width: 50%;
        float: left;
        border-top-left-radius: 10px;
        height: 500px;
        background: url('../img/Corazon-Cabo-Resort-Spa.jpg');
        background-size: cover;
    }
    #tex1 
    {
        float: left;
        color: black;
        margin-top: 100%;
        margin-left: -70%;
        font-size: 5px;
    }
    #dis {
        float: left;
        color: black;
        margin-left: -20%;
        margin-top: -100%;
    }
    .enviar {
        background-color: #20504a;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 180px;
        float: left;
    }
    #indis {
        float: left;
        color: black;
        margin-left: -15%;
        margin-top: -70%;
    }
    .enviar-n
    {
        background-color: #20504a;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        float: left;
    }
    .cont-sep
    {
        width: 100%;
    }
    .informa
    {
        float:left
    }
    .info
    {
        font-size: 10px;
        margin-top: 0%;
    }
    #img-d
    {
        width: 100%;
    }
    .h3{
        margin-top: 0%;
        padding: 0px;
        margin-left: -2%;
    }
    .desc{
        font-size: 10px;
    }
    #titulo2
    {
        margin-top: 5%;
        font-size: 20px;
    }
  }
  
 @media screen and (max-width: 999px) {
    form {
        margin-top: 5%;
        float: left;
        width: 100%;
        margin-left: 1%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 600px;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        float: left;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
        float: left;
      }
      
      button[type="submit"] {
        background-color: #20504a;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        float: left;
      }
      
      button[type="submit"]:hover {
        background-color: #45a049;
        float: left;
      }
    #quadrado
    {
        width: 100%;
        height: 640px;
        float: left;
        margin-top: 5%;
        border-radius: 10px;
        border: 1px solid #ccc;
    }
    iframe {
        width: 50%;
        border-top-right-radius: 10px;
        float: left;
        height: 500px;
    }
    .info{
        margin-left: 10%;
    }
    
    .img1 
    {
        width: 50%;
        float: left;
        border-top-left-radius: 10px;
        height: 500px;
        background: url('../img/hotel1.jpg');
        background-size: cover;
    }
    .img2 
    {
        width: 50%;
        float: left;
        border-top-left-radius: 10px;
        height: 500px;
        background: url('../img/Conrad-hotel-tulum.jpg');
        background-size: cover;
    }
    .img3
    {
        width: 50%;
        float: left;
        border-top-left-radius: 10px;
        height: 500px;
        background: url('../img/Corazon-Cabo-Resort-Spa.jpg');
        background-size: cover;
    }
    #tex1 
    {
        float: left;
        color: black;
        margin-top: 100%;
        margin-left: -70%;
        font-size: 5px;
    }
    #dis {
        float: left;
        color: black;
        margin-left: -20%;
        margin-top: -100%;
    }
    .enviar {
        background-color: #20504a;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 180px;
        float: left;
    }
    #indis {
        float: left;
        color: black;
        margin-left: -15%;
        margin-top: -70%;
    }
    .enviar-n
    {
        background-color: #20504a;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        float: left;
    }
    .cont-sep
    {
        width: 100%;
    }
    .informa
    {
        float:left
    }
    .info
    {
        font-size: 10px;
        margin-top: 0%;
    }
    #img-d
    {
        width: 100%;
    }
    .h3{
        margin-top: 0%;
        padding: 0px;
        margin-left: -2%;
    }
    .desc{
        font-size: 10px;
    }
    #titulo2
    {
        margin-top: 5%;
        font-size: 20px;
    }
  }
@media screen and (max-width: 1256px) {
        #quadrado{
            margin-top: -40%;
        }
    }

    @media (max-width: 654px) {
        .logo{
            font-size: 3vw;
        }
    }