/*Geral*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    transition: 0.3s;
    color: white;
}

a:hover {
    opacity: 0.7;
}

body {}

hr{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    background: #20504a;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
}

.logo {
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.a-menu{
    font-size: 16px;
}

.a-login {
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 0px;
}

.a-login:hover {
        opacity: 0.7;
    }

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Main*/
.atras_do_header_kskskssk{
    height: 100px;
}
/*arrumar o tamanho do mainnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/
main {
    height: 300vh;
}
.conta{
    width: 100%;
}
#title {
    font-size: 100px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
}

h2{
    font-size: 120%;
}

#h2-sobre {
    background-color: #20504a;
    border-radius: 10px;
    color: white;
    min-width: 200px;
    width: 10%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 1%;
}
#h2-sobre h2 {
   text-align: center;
}
#sobre {
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
}
#sobre p {
    color: black;
    font-size: 30px;
    text-align: left;

}
#sobre-1 {
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
}
#sobre-1 p {
    color: black;
    font-size: 30px;
    text-align: left;
}
.li-vert{
    height: 200vh;
    border-left: 2px solid #20504a;
    float: left;
    
}

.boxs{
    width: 60%;
    float: left;
}
.imgs{
    width: 39.7%;
    float: right;
}
.cola{
    width: 100%;
}
/** lado da linha - fotos - colaboradores/programadores **/
#div-img {
    width: 90%;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 5%;
}
#div-img img {
    width: 90%;
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 5%;
}
#h2-sobre-colab {
    background-color: #20504a;
    border-radius: 10px;
    color: white;
    width: 90%;
    margin-left: 4%;
    margin-right: 5%;
}
#h2-sobre-colab h2 {
    text-align: center;
}
.boxx{
    box-sizing: border-box;
}
#h2-sobre-colab-info {
    background-color: #20504a;
    border-radius: 10px;
    color: white;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5% ;
    padding: 25px;
    box-sizing: border-box;

}
#h2-sobre-colab-info h2 {
    text-align: center;
}


/*Footer*/
footer {
    position: absolute;
    background: #20504a;
    width: 100%;
    padding-top: 2.5%;
}

#infor div{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
#infor h1, p{
    color: #fff;
}
.ul-footer{
    list-style: none;
    display: flex;
    align-items: center;
}

.ul-footer li{
    width: 20%;
}
.p1-f {
    margin-right: 20%;
}
.p2-f{
    margin-right: 20%;
}

.ul-footer li {
    letter-spacing: 3px;
}

#direitos {
    float: left;
    clear: both;
    width: 100%;
}
#direitos p {
    width: 100%;
    text-align: center;
    font-weight: 800;
    color: white;
}
#direitos2{
    width: 100%;
}

#direitos2 ul{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
}

#direitos2 ul li {
    display: inline-block;
    width: 5%;
}

#direitos2 img {
    width: 100%;
    border-radius: 100%;
}
  /*KeyFrame*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

  /*Media*/

@media (max-width: 1019px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #20504a;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
    

    main {
        width: 100%;
    }
    #title {
        font-size: 70px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 5%;
    }
    
    h2{
        font-size: 120%;
    }
    
    #h2-sobre {
        background-color: #20504a;
        border-radius: 10px;
        color: white;
        min-width: 200px;
        width: 10%;
        margin-left: 5%;
        margin-top: 5%;
        padding: 1%;
    }
    #h2-sobre h2 {
       text-align: center;
    }
    #sobre {
        width: 30%;
        margin-top: 5%;
        margin-left: 10%;
    }
    #sobre p {
        color: black;
        font-size: 20px;
        text-align: left;
    
    }
    #sobre-1 {
        width: 30%;
        margin-top: 5%;
        margin-left: 10%;
    }
    #sobre-1 p {
        color: black;
        font-size: 20px;
        text-align: left;
    }
    .li-vert{
        height: 250vh;
        border-left: 1px solid black;
    
        margin-left:  70%;
        margin-top: -180%;
    }
    /** lado da linha - fotos - colaboradores/programadores **/
    #div-img {
        width: 25%;
    
        margin-left: 72.5%;
        margin-top: 5%;
    }
    #div-img img {
        width: 100%;
        border-radius: 10px;
    }
    #h2-sobre-colab {
        background-color: #20504a;
        border-radius: 10px;
        color: white;
        
        width: 14%;
        margin-left: 77.5%;
        margin-top: -170%;
        padding: 1%;
    }
    #h2-sobre-colab h2 {
        text-align: center;
    }
    #h2-sobre-colab-info {
        background-color: #20504a;
        border-radius: 10px;
        color: white;
        
        width: 20%;
        margin-left: 72.5%;
        margin-top: 5%;
        padding: 1%;
    }
    #h2-sobre-colab-info h2 {
        text-align: center;
    }
    
    
    footer {
        position: absolute;
        background: #20504a;
        width: 100%;
        padding-top: 2.5%;
        margin-top: 70%;
    }
}

/*Media*/
@media (max-width:768px){
    
    /*Header*/
    .logo{
            font-size: 20px;
    }
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #20504a;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
    

    main {
        width: 100%;
    }
    #title {
        font-size: 70px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 5%;
    }
    
    h2{
        font-size: 120%;
    }
    
    #h2-sobre {
        background-color: #20504a;
        border-radius: 10px;
        color: white;
        min-width: 200px;
        width: 10%;
        margin-left: 5%;
        margin-top: 5%;
        padding: 1%;
    }
    #h2-sobre h2 {
       text-align: center;
    }
    #sobre {
        width: 30%;
        margin-top: 5%;
        margin-left: 10%;
    }
    #sobre p {
        color: black;
        font-size: 20px;
        text-align: left;
    
    }
    #sobre-1 {
        width: 30%;
        margin-top: 5%;
        margin-left: 10%;
    }
    #sobre-1 p {
        color: black;
        font-size: 20px;
        text-align: left;
    }
    .li-vert{
        height: 300vh;
        border-left: 1px solid black;
    
        margin-left:  70%;
        margin-top: -250%;
    }
    /** lado da linha - fotos - colaboradores/programadores **/
    #div-img {
        width: 25%;
    
        margin-left: 72.5%;
        margin-top: 5%;
    }
    #div-img img {
        width: 100%;
        border-radius: 10px;
    }
    #h2-sobre-colab {
        background-color: #20504a;
        border-radius: 10px;
        color: white;
        
        width: 14%;
        margin-left: 77.5%;
        margin-top: -255%;
        padding: 1%;
    }
    #h2-sobre-colab h2 {
        text-align: center;
    }
    #h2-sobre-colab-info {
        background-color: #20504a;
        border-radius: 10px;
        color: white;
        
        width: 20%;
        margin-left: 72.5%;
        margin-top: 5%;
        padding: 1%;
    }
    #h2-sobre-colab-info h2 {
        text-align: center;
    }
    
    
    footer {
        position: absolute;
        background: #20504a;
        width: 100%;
        padding-top: 2.5%;
        margin-top: 130%;
    }
}

/*Media*/
@media (max-width:320px){
    
    /*Header*/
    .logo{
            font-size: 12px;
    }
    
    
    /*Footer*/
    .ul-footer {
        display: none;
    }
    #direitos2 ul li {
        display: inline-block;
        margin-top: 10%;
        width: 35%;
    }
}

@media (min-width: 321px) and (max-width:480px){
    /*Header*/
    .logo{
        font-size: 8px;
}

main {
    width: 100%;
}
#title {
    font-size: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
}

h2{
    font-size: 120%;
}

#h2-sobre {
    background-color: #20504a;
    border-radius: 10px;
    color: white;
    min-width: 150px;
    width: 10%;
    margin-left: 0.5%;
    margin-top: 5%;
    padding: 1%;
}
#h2-sobre h2 {
   text-align: center;
}
#sobre {
    width: 20%;
    margin-top: 5%;
    margin-left: 5%;
}
#sobre p {
    color: black;
    font-size: 10px;
    text-align: left;

}
#sobre-1 {
    width: 20%;
    margin-top: 5%;
    margin-left: 5%;
}
#sobre-1 p {
    color: black;
    font-size: 10px;
    text-align: left;
}
.li-vert{
    height: 260vh;
    border-left: 1px solid black;

    margin-left:  50%;
    margin-top: -520%;
}
/** lado da linha - fotos - colaboradores/programadores **/
#div-img {
    width: 25%;

    margin-left: 52%;
    margin-top: 15%;
}
#div-img img {
    width: 100%;
    border-radius: 10px;
}
#h2-sobre-colab {
    background-color: #20504a;
    border-radius: 10px;
    color: white;
    
    width: 42%;
    margin-left: 55%;
    margin-top: -520%;
    padding: 1%;
}
#h2-sobre-colab h2 {
    text-align: center;
}
#h2-sobre-colab-info {
    background-color: #20504a;
    border-radius: 10px;
    color: white;
    
    width: 50%;
    margin-left: 51%;
    margin-top: 5%;
    padding: 1%;
}
#h2-sobre-colab-info h2 {
    text-align: center;
}


footer {
    position: absolute;
    background: #20504a;
    width: 100%;
    padding-top: 2.5%;
    margin-top: 280%;
    }
}
