/*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: white;
}

a:hover {
    opacity: 0.7;
}

body {}

hr {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/*Header*/

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #20504a;
}

.logo {
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #20504a;
    height: 8vh;
    margin-left: 2%;
    margin-right: 2%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.a-menu {
    font-size: 16px;
}

.a-login {
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 0px;
}

.a-login:hover {
    opacity: 0.7;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Main*/

main {}

.atras_do_header_kskskssk {
    height: 8vh;
}

#img-principal {
    background: url("../img/hotel1.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.bv-div {
    margin-top: 10%;
    float: right;
    max-width: 48%;
    width: auto;
    margin-right: 2%;
    text-shadow: 5px 4px #527e7963;
    border: 2px solid#ffffff48;
    background: #20504a0c;
}

.bv-div h1 {
    font-size: 10vh;
    text-align: right;
    color: #fff;
}

.bv-div h2 {
    font-size: 4vh;
    text-align: right;
    color: #fff;
}

.quartos {
    margin: 0;
    padding: 0;
    height: 100%;
}

.abc {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    height: auto;
    min-height: 50vh;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    display: inline-block;
    margin-left: 10%;
}

.abc-2 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    height: auto;
    min-height: 50vh;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    display: inline-block;
    margin-left: 10%;
}

.abc-3 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    height: auto;
    min-height: 50vh;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    display: inline-block;
    margin-left: 10%;
}

.abc_img-1 {
    background: url('../img/q1.jpg');
    background-position: center;
    background-size: cover;
    min-height: 25vh;
    height: auto;
    transition: 1s;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.abc_img-2 {
    background: url('../img/q2.jpg');
    background-position: center;
    background-size: cover;
    min-height: 25vh;
    height: auto;
    transition: 1s;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.abc_img-3 {
    background: url('../img/q3.jpg');
    background-position: center;
    background-size: cover;
    min-height: 25vh;
    height: auto;
    transition: 1s;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#abc_img:hover {
    transform: scale(1.5);
}

.a-quartos {
    color: black;
}

.a-quartos p {
    color: black;
}


.texto-quartos {
    padding: 15px;
}

.h1-quartos {
    margin-bottom: 10px;
}

/*Footer*/

footer {
    position: absolute;
    background: #20504a;
    width: 100%;
    padding-top: 2.5%;
}

#infor div {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#infor h1,
p {
    color: #fff;
}

.ul-footer {
    list-style: none;
    display: flex;
    align-items: center;
}

.ul-footer li {
    width: 20%;
}

.p1-f {
    margin-right: 20%;
}

.p2-f {
    margin-right: 20%;
}

.ul-footer li {
    letter-spacing: 3px;
}

#direitos {
    float: left;
    clear: both;
    width: 100%;
}

#direitos p {
    width: 100%;
    text-align: center;
    font-weight: 800;
    color: white;
}

#direitos2 {
    width: 100%;
}

#direitos2 ul {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
}

#direitos2 ul li {
    display: inline-block;
    width: 5%;
}

#direitos2 img {
    width: 100%;
    border-radius: 100%;
}

/*KeyFrame*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Media*/

@media (max-width: 1019px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #20504a;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}
@media (min-width:0px) and (max-width: 389px) {
    header {
        position: fixed;
        z-index: 5;
        background: #20504a;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        background: #20504a;
        height: 8vh;
    }
    .logo {
        font-size: 4vw;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: white;
    }

    #img-principal {
        background: url("../img/hotel1.jpg") no-repeat center center;
        background-size: cover;
        height: 37vh;
    }

    .bv-div {
        margin-top: 10%;
        float: right;
        max-width: 85%;
        width: auto;
        margin-right: 2%;
        text-shadow: 5px 4px #527e7963;
        border: 2px solid#ffffff48;
        background: #20504a0c;
    }

    .bv-div h1 {
        font-size: 50px;
        text-align: right;
        color: #fff;
    }

    .bv-div h2 {
        font-size: 30px;
        text-align: right;
        color: #fff;
    }
    .quartos {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .abc {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }

    .abc-2 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }

    .abc-3 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }
    #direitos2 ul {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        justify-content: center;
    }
    
    #direitos2 ul li {
        display: inline-block;
        width: 100%;
    }
    
    #direitos2 img {
        width: 100%;
        border-radius: 100%;
    }
    
}
@media (min-width:390px) and (max-width: 497px) {
    .logo {
        font-size: 4vw;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: white;
    }

    #img-principal {
        background: url("../img/hotel1.jpg") no-repeat center center;
        background-size: cover;
        height: 37vh;
    }

    .bv-div {
        margin-top: 10%;
        float: right;
        max-width: 85%;
        width: auto;
        margin-right: 2%;
        text-shadow: 5px 4px #527e7963;
        border: 2px solid#ffffff48;
        background: #20504a0c;
    }

    .bv-div h1 {
        font-size: 50px;
        text-align: right;
        color: #fff;
    }

    .bv-div h2 {
        font-size: 30px;
        text-align: right;
        color: #fff;
    }
    .quartos {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .abc {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }

    .abc-2 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }

    .abc-3 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }
    #direitos2 ul {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        justify-content: center;
    }
    
    #direitos2 ul li {
        display: inline-block;
        width: 100%;
    }
    
    #direitos2 img {
        width: 100%;
        border-radius: 100%;
    }
}
@media (min-width:498px) and (max-width: 654px) {

    .logo {
        font-size: 4vw;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: white;
    }

    #img-principal {
        background: url("../img/hotel1.jpg") no-repeat center center;
        background-size: cover;
        height: 55vh;
    }

    .bv-div {
        margin-top: 10%;
        float: right;
        max-width: 85%;
        width: auto;
        margin-right: 2%;
        text-shadow: 5px 4px #527e7963;
        border: 2px solid#ffffff48;
        background: #20504a0c;
    }

    .bv-div h1 {
        font-size: 70px;
        text-align: right;
        color: #fff;
    }

    .bv-div h2 {
        font-size: 40px;
        text-align: right;
        color: #fff;
    }

    .quartos {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .abc {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }

    .abc-2 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }

    .abc-3 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 70%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 15%;
    }
    #direitos2 ul {
        width: 52%;
        margin-left: 24%;
        margin-right: 24%;
        display: flex;
        justify-content: center;
    }
    #direitos2 ul li {
        display: inline-block;
        width: 30%;
    }
}

@media (min-width:655px) and (max-width: 1019px) {

    .logo {
        font-size: 4vw;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: white;
    }

    .bv-div {
        margin-top: 10%;
        float: right;
        max-width: 60%;
        width: auto;
        margin-right: 2%;
        text-shadow: 5px 4px #527e7963;
        border: 2px solid#ffffff48;
        background: #20504a0c;
    }

    .bv-div h1 {
        font-size: 70px;
        text-align: right;
        color: #fff;
    }

    .bv-div h2 {
        font-size: 40px;
        text-align: right;
        color: #fff;
    }

    .quartos {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .abc {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 42.5%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 5%;
    }

    .abc-2 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 42.5%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 5%;
        margin-right: 4%;
    }

    .abc-3 {
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
        height: auto;
        min-height: 50vh;
        width: 42.5%;
        border-radius: 10px;
        box-shadow: 5px 10px 18px #888888;
        display: inline-block;
        margin-left: 5%;
    }
    #direitos2 ul {
        width: 40%;
        margin-left: 30%;
        margin-right: 24%;
        display: flex;
        justify-content: center;
    }
    #direitos2 ul li {
        display: inline-block;
        width: 10%;
    }
    
}