/*Geral*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    transition: 0.3s;
    color: white;
}
.a-menu {
}

a:hover {
    opacity: 0.7;
}

body {}

hr{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/*Header*/

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #20504a;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Main*/

main {
    
}

#img-principal {
    background: url("../img/hotel1.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.quartos{
    margin: 0;
    padding: 0;
}

.abc{
    margin-top: 60px;
    margin-bottom:  60px;
    position: relative;
    height: 50vh;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    display: inline-block;
    margin-left: 10%;
}
/*arrumar imagem e ajustar um hover para ampliar a imagem*/
.abc_img{
  height: 50%;
  transition: 1s;
  overflow: hidden;
}
#abc_img:hover{
    transform: scale(1.5);
}

.a-quartos{
    color: black;
}
.a-quartos p{
    color: black;
}


.texto-quartos{
    padding: 15px;
}
.h1-quartos{
    margin-bottom: 10px;
}

/*Footer*/

footer {
    position: absolute;
    background: #20504a;
    width: 100%;
    padding-top: 2.5%;
}

#infor div{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
#infor h1, p{
    color: #fff;
}
.ul-footer{
    list-style: none;
    display: flex;
    align-items: center;
}

.ul-footer li{
    width: 20%;
}
.p1-f {
    margin-right: 20%;
}
.p2-f{
    margin-right: 20%;
}

.ul-footer li {
    letter-spacing: 3px;
}

#direitos {
    float: left;
    clear: both;
    width: 100%;
}
#direitos p {
    width: 100%;
    text-align: center;
    font-weight: 800;
    color: white;
}
#direitos2{
    width: 100%;
}

#direitos2 ul{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
}

#direitos2 ul li {
    display: inline-block;
    width: 5%;
}

#direitos2 img {
    width: 100%;
    border-radius: 100%;
}

/*KeyFrame*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #20504a;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}
